/**
Style the Table 
 */
.wp_media_count_head {
    width: 50%;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 30%);
    border: 1px solid #dcdcdc;
    background-color: #0053b7;
    padding: 16px;
    margin: 20px auto 10px;
}
.wp_media_count_head h2{
    text-align: center;
    color: #ffffff;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#wp_media_count, #wp_media_file_count, #wp_media_audio_count{
    padding: 12px;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 24px;
    table-layout: fixed;
}
.wp_media_counts {
    padding: 25px;
    border-spacing: 0;
}
table#wp_media_count td, 
table#wp_media_file_count td, 
table#wp_media_audio_count td   {
    border: 1px solid #d3d3d3fa;
}
table#wp_media_count th, 
table#wp_media_file_count th,  
table#wp_media_audio_count th{
    border: 1px solid #d3d3d3fa;
    background: #0744a5;
}
table#wp_media_count th, td, 
table#wp_media_file_count  th, td, 
table#wp_media_audio_count  th, td {
   text-align: left;
   padding: 5px;
   font-size: 14px;
}
.wp_media_counts td {
    font-weight: 500;
    font-size: 13px;
    color: white;
}
.wp_media_counts th {
    color: white;
    text-align: left;
    width: 50%;
}
#wp_media_count_total_size{
    width: 100%; 
}  
    
